html, body {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
* { box-sizing: border-box; }

button {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
button:hover {
  box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.2);
}

#deck-selection {
  bottom:0; right: 0;
  max-width: 250px;
  z-index: 99;
  display: none;
  background-color: #716571;
  color: white;
  position: fixed;
  padding: 15px;
  margin-right: 10px;
  border-radius: 4px 4px 0 0;
}
#deck-selection .title {
  cursor: pointer;
  text-align: right;
}
#deck-selection ul {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  list-style: none;
}
#deck-selection li {
  cursor: pointer;
  padding: 10px 5px;
  font-size: 14px;
  margin-bottom: 5px;
}

#deck-selection li.is-selected {
  background-color: rgba(255, 255, 255, 0.2);
}

#deck-selection li:hover {
  text-decoration: underline;
}

#game-body {
  margin: 0 auto;
  position: relative;
  background-color: lightgray;
  background-color: #F6F6D9;
  width: 1024px;
  height: 900px;
}

.player-select {
  background-color: pink;
}

#player-selection {
  position: absolute;
  top: 50%; left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#player-selection button {
  display: block;
  font-size: 24px;
}





.card {
  display: none;
  position: absolute !important;
  background-color: black;
  cursor: move;
  height: 140px;
  width: 120px;
  border-radius: 3px;
  z-index: 1;
  font-size: 12px;
  color: black;
}

.card-name {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}
.card-cost {
  position: absolute;
  top: 0; right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  z-index: 1;
}
.card-description {
  font-size: 10px;
}
.card-mojo {
  position: absolute;
  bottom: 0; right: 0;
  background-color: green;
  color: white;
}

.card-direction {
  color: white;
  background-color: black;
  font-size: 10px;
  word-wrap: break-word;
}

.card-front.is-augmentation {
  background-color: #fcffeb;
}
.card-front.is-ooze {
  background-color: #eafcf6;
}
.card-front.is-jelly {
  background-color: #d4fcee;
}
.card-front.is-dungeon {
  background-color: lightsalmon;
}




.card.is-facedown .face-container {
  transform: rotateY(180deg);
}

.card-front,
.card-back,
.face-container {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  padding: 2px;
}
.card-front { background-color: white; }
.card-back { background-color: #332917; }
.card-template { display: none; }

/* entire container, keeps perspective */
.card { perspective: 1000px; }

/* flip speed goes here */
.face-container {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.card-front, .card-back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.card-front {
	z-index: 2;
	transform: rotateY(0deg);
}

/* Card back, initially hidden pane */
.card-back { transform: rotateY(180deg); }

#play-area {
  display: none;
}

/* TODO rename hide-area or something better */
.play-area {
  position: absolute;
  width: 80%;
  background-color: black;
  height: 160px;
  z-index: 5;
  pointer-events: none;
}

#game-actions {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}
#game-actions button {
  display: block;
  background-color: black;
  color: white;
  border: 0;
}
#game-actions button:hover {
  border: 0;
  background-color: red;
}
#game-actions button:disabled {
  pointer-events: none;
  opacity: 0.4;
}

.play-area.is-you {
  background-color: rgba(0, 0, 0, 0.05);
}

.play-area.player_1 {}
.play-area.player_2 {
  bottom: 0;
}

.message-modal {
  z-index: 2000;
  background-color: black;
  padding: 15px;
  color: white;
  position: fixed;
  left: 50%; top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all 0.3s ease-out;
  border: 2px solid white;
}
.message-modal.is-hidden {
  opacity: 0;
}
.grid {
  background:url('assets/grid-3.png');
  width: 1024px;
  height: 900px;
}
.grid.is-4 {
  background:url('assets/grid-4.png');
}

button {
  z-index: 1001;
  margin: 10px;
}
button[data-player="player_1"]{
  display: none;
  position: fixed;
  font-size: 16px;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: lightcyan;
}
button[data-player="player_2"]{
  display: none;
  position: absolute;
  font-size: 16px;
  z-index: 5;
  bottom: 0;
  right: 0;
  background-color: lightcyan;
}



.print-card-template {
  display: none;
}

.print-card {
  position: relative;
  background-color: #e8e8e8;
  width: 320px;
  max-width: 320px;
  height: 200px;
  display: inline-table;
  margin: 10px;
  font-size: 12px;
}

.print-card.is-Ooze > .title {
  background: repeating-linear-gradient( 45deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03) 30px, #e8e8e8 30px, #e8e8e8 60px );
}

.print-card.is-Special > .title {
  background: repeating-linear-gradient( 90deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03) 30px, #dadada 30px, #dadada 60px );
}

.print-card.is-Augmentation > .title {
  background: repeating-linear-gradient( 120deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03) 30px, #dadada 30px, #dadada 60px );
}

.print-card > .title {
  font-size: 1.4em;
  font-weight: bold;
  padding: 0.6em 1em;
}

.print-card > .art {
  height: 100px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.print-card > .description {
  font-size: 1.2em;
  padding: 0.4em 1em;
  line-height: 1.4em;
  max-height: 80px;
  width: 95%;
}

.print-card > .cost {
  display: none;
  position: absolute;
  top: 0; right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 1.6em;
  border-radius: 100%;
  margin: 0.3em;
}

.print-card .is-visible {
  display: block !important;
}

.print-card > .mojo {
  display: none;
  position: absolute;
  bottom: 0; right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 1.5em;
  border-radius: 100%;
  margin: 6px;
  color: white;
}
